.other_data {
    height: 24rem;
    margin: 4rem;
}

.other_data_main {
    margin: 3.6rem 0;
    display: flex;
    align-items: center;
    background-color: #0e0e57;
    padding: 1rem;
    border-radius: 12px;
    color: wheat;
}

.other_data_main_icon {
    font-size: 3.6rem;
    display: flex;
    align-items: center;
    margin: 1rem 1rem 1rem 0;
    color: orange;
}

.other_data_main_info_uv {
    font-weight: 500;
    font-size: 1.8rem;
}