.weather_prediction {
    margin: 0 4rem 4rem 4rem;
    height: 52%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}

.weather_prediction_box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.103);
}