.container {
    width: 350px; /* Main problem with previous project */
    height: 20rem;
    background-color: rgb(14, 141, 188);
    color: white;
    margin-left: 20px;
    margin-top: 82px;
    border-radius: 12px;
}

.primary {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1rem 2rem 1rem 2rem;
}

.primary-icon {
    font-size: 34px;
    width: 44px;
    height: 44px;
    color: orange;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Temperature and desc */

.data-container {
    margin: 1rem 2rem 1rem 2rem;
}

.data {
    display: flex;
    align-items: center;
}

.data-temp {
    font-size: 2.4rem;
    font-weight: 600;
}

.data-desc {
    margin-left: 2rem;
    background: rgb(0, 73, 102);
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    font-weight: 500;
}

.data-container p {
    font-weight: 600;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    .container {
        margin-left: 0;
        width: 450px;
    }
}
