/*
--- 01 TYPOGRAPHY SYSTEM
- Fonts Sizes (px)
10, 12, 14, 16, 18, 20, 24, 30, 36, 44, 62, 74, 86, 98
- Fonts weights
Default: 400
Medium: 500
Semi-bold: 600 
Bold: 700
- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
- Letter Spacing
-0.5px
0.75px

--- 02 COLORS
 - Primary: #e67e22
  - Tints: #fdf2e9 #fae5d3 #eb984e
   - Shades: #cf711f #45260a
    - Accents: 
     - Greys: #888 #767676 #555 #333 #6f6f6f (Lightest grayy on the site)

--- 05 SHADOWS 
 0 2.4rem 4.8rem rgba(0, 0, 0, 0.75)

--- 06 BORDER-RADIUS
 Default: 9px
  Medium: 11px

--- 07 WHITESPACE
 - Spacing System (px)
  2, 4, 8, 12, 16, 24, 32, 48
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%; /* For Easy rem Calculations*/
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.root {
    display: flex;
}
