/* Helper Classes*/

.menu {
    display: none !important; /* Could be problem in future */
}

/* Main Classes*/
.sidebar {
    width: 8rem;
    height: 100vh; /* Can be a problem */
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.103);
    position: fixed;
}

/* LOGO */

.sidebar-logo-box,
.sidebar-icon-box {
    /* For Both LOGO & ICONS*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo {
    color: orange;
    font-size: 60px;
}

/* ICONS */

.sidebar-icon {
    color: gray;
    font-size: 40px;
    margin-top: 44px;
}

.sidebar-icon:hover {
    color: orange;
}

/* BUTTON */

.sidebar-button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Mobile Navgiation */

/* .sidebar-mobile-container {
    display: flex;
    align-items: center;
    justify-content: center;
} Don't need this after using position absolute to center the mobile navigation */ 

.sidebar-mobile {
    /* To Center the mobile nav container*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: 0.2rem;   
    background: rgb(255, 255, 255);
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.215);
    width: 80%;
    border-radius: 12px;
    z-index: 1; /* May Need to fix in futuer */
}

.icon-mobile {
    margin-top: 40px;
}

.mobile-button {
    padding-bottom: 30px;
}

/* Media Queries*/

@media screen and (max-width: 800px) {
    .sidebar {
        width: 100%;
        height: 8rem;
        
        /* New Flex Property for sidebar*/
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 98px;
    }

    .sidebar ul {
        gap: 44px;
        display: flex;
        align-items: center;
    }

    .sidebar-icon {
        margin-top: 0px;
    }
}

@media screen and (max-width: 540px) {
    .link-icon {
        display: none !important;
    }
    
    .menu {
        display: inline-block !important;
    }
}
