.dashboard {
    padding-left: 82px;
    width: 75%;
    display: flex;
    gap: 20px;
}

/* Media Queries */

@media screen and (max-width: 800px) {
    /* Fixing gap between navigation and component */
    .dashboard {
        width: 100%;
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }
}
