.dashboard {
    width: 100%;
}

.dashboard_container {
    width: 70%;
}

.dashboard_dark {
    background: #020221;
    color: white;
}

.dashboard_first_row, .dashboard_second_row {
    display: flex;
}