.weather_tommorow {
    /* background-image: linear-gradient(
            rgba(188, 235, 71, 0.2),
            rgba(188, 235, 71, 1)
        ),
        url(../../assets/images/sunny-day.jpg); */
    /* background-size: 220%;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: rgba(188, 236, 72, 1);
    border-radius: 12px;
    margin-top: 4rem;
    margin-left: 3.6rem;
    width: 40%;
    color: black;
    padding-right: 12.5rem;
}

.weather_tommorow_container {
    margin: 3.6rem;
}

.weather_tommorow_heading {
    font-size: 1rem;
    margin-top: 2rem;
}

.weather_tommorow_temp {
    margin-top: 7.2rem;
    font-size: 2.4rem;
    font-weight: 600;
}