.weather {
    border-radius: 12px;
    margin-left: 4rem;
    margin-top: 12rem;
    padding: 3.6rem;
    background-image: url(../../assets/images/cloudy-sky.jpg);
    background-position: center;
    background-size: 100%;
    width: 50%;
}

.weather_heading {
    display: flex;
    align-items: center;;
}

.weather_logo {
    width: 2.8rem;
    height: 2.8rem;
    color: #e67e22;
    font-size: 2.4rem;
    margin-right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}